<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Zgłoszenie klubowicza</h3>
                </div>
                <form #clubForm="ngForm" (ngSubmit)="onSubmit()" #f="ngForm">
                    <div class="box-body">
                        <div class="col-xs-12">
                            <h4>Dane klubu</h4>
                            <hr/>
                            <div class="row">
                                <div class="col-xs-6">
                                    <app-form-input [name]="'name'" [id]="'name'" [label]="'Nazwa klubu'" [required]="true" [form]="f" [errors]="errors" [(ngModel)]="club.name"></app-form-input>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary"><i class="far fa-save"></i> Zapisz</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>