<div class="form-group" [ngClass]="{
        'has-error': (model.invalid && (model.dirty || model.touched || form.submitted)) || errors[name],
        'has-success': model.valid && (model.dirty || model.touched || form.submitted)
      }">
    <label [for]="id">{{label}}</label>
    <div class="input-group date">
        <div class="input-group-addon">
            <i class="fa" [class]="icon"></i>
        </div>
        <input [type]="type" class="form-control" [id]="id"
               [required]="required"
               [name]="name"
               [value]="value"
               (change)="onChange($event)"
               (keyup)="onChange($event)" #input [(ngModel)]="value">
    </div>
    <div *ngIf="(model.errors && (model.dirty || model.touched || form.submitted)) || errors[name]">
        <span class="help-block" *ngIf="model.errors.required">To pole jest wymagane</span>
        <span class="help-block" *ngIf="errors[name]">{{errors[name]}}</span>
    </div>
</div>