<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MENU</li>
            <li routerLinkActive="active">
                <a routerLink="/dashboard">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/members">
                    <i class="fa fa-users"></i> <span>Klubowicze</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-calendar"></i>
                    <span>Zawody</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
          </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href=""><i class="fa fa-circle-o"></i> Zawody</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i> Rodzaje</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i> Konkurencje</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i> Zawodnicy</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>