<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Ewidencja klubowiczów</h3>
                </div>
                <div class="box-body">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="dataTables_length">
                                    <label>Pokaż
                                        <select class="form-control input-sm" (change)="onChange()" [(ngModel)]="size">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select> na liście
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="dataTables_filter">
                                    <label>Szukaj po nazwisku:<input type="search" class="form-control input-sm" placeholder=""></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-striped dataTable" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th>ID</th>
                                            <th>Data przyjęcia</th>
                                            <th>Imię</th>
                                            <th>Nazwisko</th>
                                            <th>Miejscowość</th>
                                            <th>Patent</th>
                                            <th>Licencje</th>
                                            <th class="text-center">
                                                <i class="fa fa-cog"></i>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="membersList">
                                        <tr role="row" ngClass="{odd: odd, even: even}" *ngFor="let member of membersList.data">
                                            <td>{{member.id}}</td>
                                            <td>{{member.date_of_join}}</td>
                                            <td>{{member.name}}</td>
                                            <td>{{member.surname}}</td>
                                            <td>{{member.city}}</td>
                                            <td>{{member.shooting_license}}</td>
                                            <td class="text-center">
                                                <a routerLink="/shooters/licenses/{{member.shooter_id}}" tooltip="Licencje zawodnicze"><i class="fa fa-history"></i></a>
                                            </td>
                                            <td class="text-center" style="letter-spacing: 10px">
                                                <a routerLink="/members/edit/{{member.id}}" tooltip="Edytuj"><i class="far fa-edit"></i></a>
                                                <a routerLink="/members/settlements/{{member.id}}" tooltip="Rozliczenia"><i class="far fa-money-bill-alt"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                                <app-pagination [data]="membersList" route="/members/page" (goToPage)="setPage($event)" *ngIf="membersList"></app-pagination>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <a routerLink="/members/new" class="btn btn-primary"><i class="fa fa-plus"></i> Dodaj nowego</a>
                </div>
            </div>
        </div>
    </div>
</section>